/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/.git
/.github
/README.md
/CHANGELOG.md
/LICENSE
/phpunit.xml
/pest.xml
/.env
/.env.backup
.phpunit.result.cache
docker-compose.override.yml
docker-compose.yml
Dockerfile
.dockerignore
